<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Files</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="container">
        <h1>All Files</h1>
        <ul>
            <% files.forEach(file=> { %>
                <li>
                    <div class="file-details">
                        <a href="<%= file.publicUrl %>" target="_blank">
                            <%= file.name %>
                        </a>
                        <div class="file-info">
                            Size: <%= file.size %> bytes &bull;
                                Type: <%= file.type %> &bull;
                                    Created: <%= file.created %> &bull;
                                        Updated: <%= file.updated %>
                        </div>
                    </div>
                    <div class="buttons">
                        <button class="view-button" onclick="window.open('<%= file.publicUrl %>', '_blank')">
                            <span>🔍</span> View
                        </button>
                        <button class="delete-button" onclick="handleDelete('<%= file.name %>')">
                            <span>🗑️</span> Delete
                        </button>
                    </div>
                </li>
                <% }); %>
        </ul>
        <button class="view-files" onclick="window.location.href='/api/file/upload';">Upload Files</button>
    </div>

    <script>
        function handleDelete(fileName) {
            if (confirm(`Are you sure you want to delete the file ${fileName}?`)) {
                axios.delete(`/api/file/delete/${encodeURIComponent(fileName)}`)
                    .then(response => {
                        if (response.data.message) {
                            alert(response.data.message);
                            location.reload();
                        } else {
                            alert('Failed to delete the file.');
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert('An error occurred while deleting the file.');
                    });
            }
        }
    </script>
</body>

</html>